:root{
  font-size: 10px;
  --primaryColor: rgba(63, 21, 79, 1);
	--secondaryColor: rgba(228, 0, 43, 1);
  --light: rgba(248, 248, 248,1);
  --dark: rgba(80, 80, 80,1);
	--owlGrey: #212226;
	--owlOrange: #ef9f3c;
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'),
       url('../fonts/work-sans-v3-latin-regular.woff2') format('woff2'),
       url('../fonts/work-sans-v3-latin-regular.woff') format('woff');
}

body,html{
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 3.4rem;
  font-weight: 400;
  line-height: 3.4rem;
  color: var(--dark);
  background-color: var(--light);
}
h1{
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size: 8rem;
}
h2{
  font-family: 'Roboto Slab', serif;;
  font-weight: 400;
  font-size: 4rem;
}
h3{
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 3rem;
}
.textprimary{
  color:var(--primaryColor);
}
.textsecondary{
  color:var(--secondaryColor);
}
.textlight{
  color:var(--light);
}
.textdark{
	color:var(--dark);
}
.smallcaps{
  font-variant: small-caps;
}
.textcenter{
  text-align: center;
}
.bglight{
  background-color: var(--light);
}
.bgdark{
	background-color: var(--dark);
}
.bgprimary{
	background-color: var(--primaryColor);
}
.bgsecondary{
	background-color: var(--secondaryColor);
}
.fullwidth{
  width: 100vw;
}
.grid{
	display:grid;
	grid-gap: 2rem;
	grid-template-columns: 50vw 50vw;
	grid-template-areas: 'typography colors';
}

.feathericon {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
	margin-left: 2rem;
}
.spacer{
	display: block;
	/* position: absolute; */
}

.badge{
	display: inline-block;
	height:15rem;
	width: 20rem;
}

.badge img{
	height:10rem;
	/* width: auto; */
}

.shd{
	background-color: #d22630;
	/* width:20rem; */
	text-align: center;
}

.dal{
	background-color: #0B233F;
	/* width:15rem; */
	text-align: center;
}

.vs{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightgrey;
	width: 3rem;
	height:3rem;
	padding: 1rem;
	margin-left: -2.5rem;
	margin-right: -2.5rem;
	text-align: center;
	z-index: 1;
	transform: rotate(45deg);
	border-radius: 1rem
}
.vstext{
	transform: rotate(-45deg);
}
.card{
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	/* padding: 1rem; */
	border-radius: 1rem;
}
/* .card:first-child{
	border-radius: 1rem 1rem 1rem 1rem;
}
.card:nth-last-child(2){
	border-radius: 0 1rem 1rem 0;
} */
.badge:first-of-type{
	border-radius: 1rem 0 0 1rem;
}
.badge:last-of-type{
	border-radius: 0 1rem 1rem 0;
}